.Backdrop {
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    color: #b7b7c8;
    background-color: rgba(144, 140, 140, 0.5);
    z-index: 10000 !important;
    left: 0 !important;
    top: 0 !important;
    opacity:0.8;
  }